LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 3, 0, 506
PRODUCTVERSION 1, 3, 0, 506
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Seasons Fall Music\000"
      VALUE "FileDescription", "Expert and Package Manager for Multiple RAD Studio instances.\000"
      VALUE "FileVersion", "1.3.0.506\000"
      VALUE "InternalName", "ExpertMgr\000"
      VALUE "LegalCopyright", "Seasons Fall Music\000"
      VALUE "LegalTrademarks", "Seasons Fall Music\000"
      VALUE "OriginalFilename", "ExpertMgr\000"
      VALUE "ProductName", "ExpertMgr\000"
      VALUE "ProductVersion", "1.3\000"
      VALUE "Comments", "Expert and Package Manager for Multiple RAD Studio instances.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
